{% extends 'base.html.twig' %}

{% block title %}Espace personnel{% endblock %}

{% block content %}
<h1>Mon compte</h1>
<div>
    Bienvenue {{app.user.firstname}} dans votre compte personnel.
</div>
<div>
    <a href="{{path('account_password')}}">Modifier mon mot de passe</a><br>
    <a href="{{path('account_address')}}">Gerer mes adresses</a>
    <hr>
</div>
{% endblock %}